.bicicletas-bg{
    padding: 40px 60px;
}

.bikelist{
    display: flex;
    gap: 40px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    
}
.bikelist h2{
    max-width: 1200px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

}

.bikelist a{
    text-decoration: none;
    color: inherit;
}
.bikelist a img{
    display: block;
    max-width: 100%;
    padding-bottom: 16px;
    min-width: 280px;
    
}
.bicicletas-bg h2{
    margin-bottom: 40px;
}
.bikelist h3{
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}
.bikelist h3::before{
    content: "";
    display: inline-block;
    height: 8px;
    width: 12px;
    margin-right: 8px;
    background: var(--cor-p1) ;
    
}
.bikelist a span{
    padding-left: 20px;
}

@media (max-width:800px){
    .bikelist{
        gap: 20px;
    }
    .bicicletas-bg h2{
        margin-bottom: 20px;
    }
}