.depoimento{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--cor-p1);
    max-width: 1600px;
    margin: 0 auto;
}
.depoimento-conteudo{
    margin-top: auto;
    padding: 40px 40px 80px 80px;
    display: flex;
    flex-direction: column;
    align-self: end;
    overflow: hidden;
    background: url(/img/dec/top-left-p.svg) no-repeat top 40px left 40px, url(/img/dec/bottom-right-p.svg) no-repeat bottom 40px right 40px;
}
.depoimento-conteudo p{
    max-width: 32ch;
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 900;
    margin-bottom: 1em;
    position: relative;
    z-index: 0;
    display: block;
}
.depoimento-conteudo p::before{
    content: '“';
    margin-right: 2px ;
}
.depoimento-conteudo p::after{
    content: '”';
}

/* Falta aplicar Responsivo @media */